body {
    background-color: red
}

#header {
background-color: orangered

}

#rules {
    background-color:peachpuff
}

#counter {
    background-color: seagreen
}

#winsLosses {
    background-color: teal

}

#crystals {

}

#score {
    background-color: teal
}